@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans';
}

/* navbar global */

span#jd1 {
    font-weight: 300;
}

span#jd2 {
    font-weight: 600;
}

span#jd3 {
    font-weight: 300;
}

/* navbar orange */

nav#navorange {
    background-color: #FAAB36;
    height: 75px;
}

nav#navorange a.nav-link, nav#navorange a.navbar-brand {
    color: #FFFFFF !important;
}

nav#navorange img {
    width: 50px;
}

/* navbar white */

nav#navwhite {
    background-color: #FFFFFF;
    height: 75px;
}

nav#navwhite a.nav-link, nav#navwhite a.navbar-brand {
    color: #FD5901 !important;
}

nav#navwhite img {
    width: 50px;
}

/* footer */

footer {
    background-color: #FD5901;
}

/* home */
.price-tag {
    font-weight: 600;
}
.hr-tag {
    font-weight: 300;
}

.ribbon-yellow {
    margin: 0;
    background-color: #FAAB36;
    color: #FFFFFF;
}

.ribbon-yellow h1 {
    font-weight: 600;
    text-align: center;
}

.ribbon-yellow p {
    display: block;
    text-align: center;
}

.ribbon-ligreen {
    margin: 0;
    background-color:#249ea079;
    color: #FFFFFF;
}

.ribbon-ligreen h1 {
    font-weight: 600;
    text-align: center;
}

.ribbon-ligreen p {
    display: block;
    text-align: center;
}

#kategori-pop a, #kategori-pop a:hover {
    color: #FFFFFF;
    text-decoration: none !important;
    font-size: 2em;
}

/* kursus page */
#nama-kursus {
    color: #005F60;
    font-weight: 600;
}

#partner-text {
    color: #FD5901;
}

.div-subject {
    margin: 20px 0px;
}

.subject {
    background-color: #F3F3F3;
    padding: 5px 10px;
    color: #249EA0;
    white-space:nowrap;
}

.kursus-body-header {
    color: #005F60;
    font-weight: 600;
}